[user]
    email = brstrm@gmail.com
    name = Tyler Brostrom

[core]
    editor = vim
    excludesfile = $HOME/.gitignore

[color]
    ui = auto

[alias]
    br = branch
    ci = commit -v
    co = checkout
    df = diff
    lo = log --oneline --graph
    st = status

[pull]
    ff = only

[push]
    default = simple

[advice]
    statusHints = false

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
