[user]
    email = brstrm@gmail.com
    name = Tyler Brostrom

[core]
    editor = vim
    excludesfile = $HOME/.gitignore

[color]
    ui = auto

[alias]
    br = branch
    cf = cat-file -p
    cft = cat-file -t
    ci = commit -v
    co = checkout
    df = diff
    lo = log --oneline --graph
    lons =  log --oneline --name-status
    # loo logs the branch’s “actual” commits
    # useful for topic branches into which features are merged (e.g. develop, main, prod, canary)
    loo = lo --first-parent
    st = status

[pull]
    ff = only

[push]
    default = simple

[advice]
    statusHints = false

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
